<?xml version='1.0' encoding='UTF-8'?>
<opnsense>
  <dhcpd>
    <opt2>
      <enable>1</enable>
      <ddnsdomainalgorithm>hmac-md5</ddnsdomainalgorithm>
      <tftp>10.2.1.1</tftp>
      <bootfilename>grubnetx64.efi.signed</bootfilename>
      <netboot>1</netboot>
      <nextserver>10.2.1.1</nextserver>
      <filename>grubnetx64.efi.signed</filename>
      <numberoptions>
        <item/>
      </numberoptions>
      <range>
        <from>10.2.0.200</from>
        <to>10.2.0.250</to>
      </range>
      <winsserver/>
      <dnsserver>10.2.0.1</dnsserver>
      <ntpserver/>
      <staticmap>
        <mac>00:1b:21:bb:f0:74</mac>
        <descr>truenas 10G</descr>
        <winsserver/>
        <dnsserver/>
        <ntpserver/>
      </staticmap>
      <staticmap>
        <mac>24:4b:fe:de:17:b8</mac>
        <ipaddr>10.2.1.1</ipaddr>
        <hostname>truenas</hostname>
        <winsserver/>
        <dnsserver/>
        <ntpserver/>
      </staticmap>
      <staticmap>
        <mac>00:a0:98:4f:02:c1</mac>
        <ipaddr>10.2.1.100</ipaddr>
        <hostname>mgmtvm</hostname>
        <winsserver/>
        <dnsserver/>
        <ntpserver/>
      </staticmap>
      <staticmap>
        <mac>0c:c4:7a:db:91:1d</mac>
        <ipaddr>10.2.2.1</ipaddr>
        <hostname>muspellheimxi</hostname>
        <winsserver/>
        <dnsserver/>
        <ntpserver/>
      </staticmap>
      <staticmap>
        <mac>00:0c:29:42:91:3c</mac>
        <ipaddr>10.2.2.2</ipaddr>
        <hostname>vcsa</hostname>
        <winsserver/>
        <dnsserver/>
        <ntpserver/>
      </staticmap>
      <staticmap>
        <mac>54:b2:03:70:8b:6c</mac>
        <ipaddr>10.2.118.10</ipaddr>
        <hostname>datto0</hostname>
        <winsserver/>
        <dnsserver/>
        <ntpserver/>
      </staticmap>
      <staticmap>
        <mac>54:b2:03:70:26:03</mac>
        <ipaddr>10.2.118.11</ipaddr>
        <hostname>datto1</hostname>
      </staticmap>
      <staticmap>
        <mac>54:b2:03:70:74:03</mac>
        <ipaddr>10.2.118.12</ipaddr>
        <hostname>datto2</hostname>
      </staticmap>
      <staticmap>
        <mac>54:b2:03:71:12:90</mac>
        <ipaddr>10.2.118.20</ipaddr>
        <hostname>datto3</hostname>
      </staticmap>
      <staticmap>
        <mac>78:f2:9e:91:77:24</mac>
        <ipaddr>10.2.118.21</ipaddr>
        <hostname>datto4</hostname>
      </staticmap>
      <staticmap>
        <mac>78:f2:9e:91:7c:83</mac>
        <ipaddr>10.2.118.22</ipaddr>
        <hostname>datto5</hostname>
      </staticmap>
      <staticmap>
        <mac>00:e0:4c:88:03:b7</mac>
        <ipaddr>10.2.118.30</ipaddr>
        <hostname>rock0</hostname>
      </staticmap>
      <staticmap>
        <mac>00:e0:4c:88:01:85</mac>
        <ipaddr>10.2.118.31</ipaddr>
        <hostname>rock1</hostname>
      </staticmap>
      <staticmap>
        <mac>00:e0:4c:88:04:23</mac>
        <ipaddr>10.2.118.32</ipaddr>
        <hostname>rock2</hostname>
      </staticmap>
      <staticmap>
        <mac>00:e0:4c:88:01:94</mac>
        <ipaddr>10.2.118.33</ipaddr>
        <hostname>rock3</hostname>
      </staticmap>
      <staticmap>
        <mac>00:e0:4c:88:04:d3</mac>
        <ipaddr>10.2.118.34</ipaddr>
        <hostname>rock4</hostname>
      </staticmap>
      <staticmap>
        <mac>00:e0:4c:88:05:0a</mac>
        <ipaddr>10.2.118.35</ipaddr>
        <hostname>rock5</hostname>
      </staticmap>
      <staticmap>
        <mac>00:e0:4c:88:04:ff</mac>
        <ipaddr>10.2.118.36</ipaddr>
        <hostname>rock6</hostname>
      </staticmap>
      <staticmap>
        <mac>00:e0:4c:88:04:e0</mac>
        <ipaddr>10.2.118.37</ipaddr>
        <hostname>rock7</hostname>
      </staticmap>
    </opt2>
  </dhcpd>
</opnsense>
