# gitignore
# Editors
.vscode/
.monokle
*.profraw
# Trash
.DS_Store
Thumbs.db
*.iso

# secrets
*kubeconfig*
*key*
*.pem
*.pgp
*.pub
.decrypted~*.yaml
.env
.envrc

# terraform
.terraform/
*.tfstate*
*.lock.hcl
*.zip
*.ova
# main.tf  # allowing because all secrets are in .envrc
govcvars.sh
modules/terraform-vsphere/

# ansible
ansible/collections/
ansible/facts_cache/

# temp / working files & dirs
*.bak
.temp*
.todo*
**/*archive/
**/*wip/
.private/
.logs/
.task/
report/

#extras
*pytest*
*cache*

# retain files
!**.gitkeep
!*.sops.*
