# gitignore
.terraform/
*.tfstate*
*.lock.hcl
*.zip
*.ova
.env
.envrc
kubeconfig
# vscode-sops
.decrypted~*.yaml

modules/terraform-vsphere/
archive/

# main.tf  # allowing because all secrets are in .envrc
govcvars.sh
host.ini