# gitignore
.*

.terraform/
*.tfstate*
*.lock.hcl
*.zip
*.ova
.env
.envrc
kubeconfig
# vscode-sops
.decrypted~*.yaml

ansible/collections/
modules/terraform-vsphere/
archive/

# main.tf  # allowing because all secrets are in .envrc
govcvars.sh
hosts.ini

# os stuff
.DS_Store
