---
common:
  daemonize: true
  pid_dir: /var/run/
  log_media: file
  log_level: info
  log_dir: /var/log/
  log_max_size: 500
  log_max_age: 28
  log_max_files: 3
  compress_logs: true
  working_dir: .
config_paths:
  config_dir: /etc/crowdsec/
  data_dir: /var/lib/crowdsec/data/
  simulation_path: /etc/crowdsec/simulation.yaml
  hub_dir: /etc/crowdsec/hub/
  index_path: /etc/crowdsec/hub/.index.json
crowdsec_service:
  acquisition_path: /etc/crowdsec/acquis.yaml
  parser_routines: 1
  buckets_routines: 1
  output_routines: 1
cscli:
  output: human
  hub_branch: master
  color: auto
db_config:
  log_level: info
  type: sqlite
  use_wal: false
  db_path: /var/lib/crowdsec/data/crowdsec.db
  flush:
    max_items: 5000
    max_age: 7d
api:
  client:
    insecure_skip_verify: false
    credentials_path: /etc/crowdsec/local_api_credentials.yaml
  server:
    enable: false  # using distributed/central server for LAPI
    log_level: info
{% if cs_multiserver %}
    # listen_uri: {{ cs_delegate_server_listen_uri }}
{% else %}
    listen_uri: 127.0.0.1:8080
{% endif %}
    profiles_path: /etc/crowdsec/profiles.yaml
    online_client: # Crowdsec API credentials (to push signals and receive bad IPs)
      credentials_path: /etc/crowdsec/online_api_credentials.yaml
     # IP ranges, or IPs which can have admin API access
    trusted_ips: {{ cs_whitelist_ip|to_yaml }}
prometheus:
  enabled: {{ cs_prometheus.enabled }}
  level: full
  listen_addr: 127.0.0.1
  listen_port: 6060
