---
timezone: "America/New_York"

ansible_user: ${user}

email: ${email}
default_pass: ${default_pass}
crypted_pass: ${crypted_pass}

domain: ${domain}

## netplan
netplan:
  cidr: 16
  gateway: 10.2.0.1
  nameservers:
    - 10.2.0.1
    - 10.0.0.1
  dhcp4: false
  dhcp6: false
