[controller]
%{ for index, hostname in controller_hostnames ~}
${ hostname } ansible_host=${ controller_ips[index] }
%{ endfor ~}

[worker]
%{ for index, hostname in worker_hostnames ~}
${ hostname } ansible_host=${ worker_ips[index] }
%{ endfor ~}

[kubernetes:children]
controller
worker

[kubernetes:vars]
ansible_user=${ node_user }
kubevip_address=${ kube_vip }
cluster_domain=${ cluster_domain }
kubernetes_oidc_issuer=${ kubernetes_oidc_issuer }
kubernetes_oidc_clientid=${ kubernetes_oidc_clientid }
