apiVersion: v1
kind: ConfigMap
metadata:
  name: kubevip
  namespace: kube-system
data:
  cidr-default: 10.2.113.200/29                   # CIDR-based IP range for use in the default Namespace
  range-development: 10.2.113.210-10.2.113.219    # Range-based IP range for use in the development Namespace
  cidr-global: 10.2.113.240/29                    # CIDR-based range which can be used in any Namespace
